$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$line-style: none;
$text-decoration: none;

body {
  padding: 0;
  margin: 0;
  background-color: white;
}
ul {
  list-style: $line-style;
  margin: 3% 0 3% 2%;
  padding: 0;
  li {
    display: inline;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
}
a {
  color: black;
  font-size: 0.8em;
  font-family: "Courier", sans-serif;
  text-decoration: $text-decoration;
}

.name {
  position: absolute;
  padding: 0%;
  margin: -25% 0 0 3%;
}

h1 {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 230;
}
h2 {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 230;
  margin: -20% 0 0 0;
}
