@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700,300|Josefin+Sans:300);
@media screen and (min-width: 20em) {
  body:before {
    content: "@include wider-than(xsmall) // min-width: 20em";
  }
}

@media screen and (min-width: 30em) {
  body:before {
    content: "@include wider-than(small) // min-width: 30em";
  }
}

@media screen and (min-width: 40em) {
  body:before {
    content: "@include wider-than(medium) // min-width: 40em";
  }
}

@media screen and (min-width: 55em) {
  body:before {
    content: "@include wider-than(large) // min-width: 55em";
  }
}

@media screen and (min-width: 70em) {
  body:before {
    content: "@include wider-than(xlarge) // min-width: 70em";
  }
}

body:before {
  background: rgba(50, 29, 103, 0.8);
}

@media (min-width: 20em) {
  body:before {
    background: rgba(69, 40, 143, 0.8);
  }
}

@media (min-width: 30em) {
  body:before {
    background: rgba(89, 51, 183, 0.8);
  }
}

@media (min-width: 40em) {
  body:before {
    background: rgba(115, 79, 206, 0.8);
  }
}

@media (min-width: 55em) {
  body:before {
    background: rgba(147, 119, 217, 0.8);
  }
}

@media (min-width: 70em) {
  body:before {
    background: rgba(179, 159, 228, 0.8);
  }
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Josefin Slab", serif;
  font-size: 100%;
  line-height: 1;
  text-align: center;
}

body:before {
  bottom: 0;
  display: block;
  font-size: 1.4rem;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
}

h1,
h2,
p {
  padding: 0 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 2rem auto;
}

h2 {
  font-weight: 300;
  line-height: 1.3;
  margin: 0 auto 3rem;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 3rem auto;
}
