$breakpoints: (
  small: 30em,
  medium: 40em,
  large: 55em,
  xlarge: 70em,
);

@mixin wider-than($screen-size) {
  @if map-has-key($breakpoints, $screen-size) {
    @media (min-width: map-get($breakpoints, $screen-size)) {
      @content;
    }
  } @else {
    @warn "'#{$screen-size}' has not been declared as a breakpoint.";
  }
}

// @each $breakpoint, $screen-size in $breakpoints {
 
// }

$background-color: white;

body:before {
  background: $background-color;

  @include wider-than(small) {
  }

  @include wider-than(medium) {
    menu-4 {
      position: relative;
      margin: 0;
      padding: 0;
      text-align: right;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 4% ;

    * {
      
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }

    li {
      display: inline-block;
      list-style: outside none none;
      margin: 0 1em;
      overflow: hidden;
    }
    a {
      font-family: 'Papyrus',sans-serif;
      font-size: 18px;
      font-weight: bolder;
      padding: 0.3em 0;
      color: #ffffff;
      position: relative;
      display: inline-block;
      letter-spacing: 1px;
      margin: 0;
      text-decoration: none;
    }
    a:before,
    a:after {
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    a:before {
      bottom: 100%;
      display: block;
      height: 3px;
      width: 100%;
      content: "";
      background-color: #e9e95c;
    }
      a:after {
      padding: 0.3em 0;
      position: absolute;
      bottom: 100%;
      left: 0;
      content: attr(data-hover);
      color: #ffffff;
      white-space: nowrap;
    }
    li:hover a,
    .current a {
      transform: translateY(100%);
    }
  }
}
  }

  @include wider-than(large) {
    menu-4 {
      position: relative;
      margin: 0;
      padding: 0;
      text-align: right;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 4% ;

    * {
      
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }

    li {
      display: inline-block;
      list-style: outside none none;
      margin: 0 1em;
      overflow: hidden;
    }
    a {
      font-family: 'Papyrus',sans-serif;
      font-size: 18px;
      font-weight: bolder;
      padding: 0.3em 0;
      color: #ffffff;
      position: relative;
      display: inline-block;
      letter-spacing: 1px;
      margin: 0;
      text-decoration: none;
    }
    a:before,
    a:after {
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    a:before {
      bottom: 100%;
      display: block;
      height: 3px;
      width: 100%;
      content: "";
      background-color: #e9e95c;
    }
      a:after {
      padding: 0.3em 0;
      position: absolute;
      bottom: 100%;
      left: 0;
      content: attr(data-hover);
      color: #ffffff;
      white-space: nowrap;
    }
    li:hover a,
    .current a {
      transform: translateY(100%);
    }
  }
}


  @include wider-than(xlarge) {
    menu-4 {
      position: relative;
      margin: 0;
      padding: 0;
      text-align: right;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 4% ;

    * {
      
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }

    li {
      display: inline-block;
      list-style: outside none none;
      margin: 0 1em;
      overflow: hidden;
    }
    a {
      font-family: 'Papyrus',sans-serif;
      font-size: 18px;
      font-weight: bolder;
      padding: 0.3em 0;
      color: #ffffff;
      position: relative;
      display: inline-block;
      letter-spacing: 1px;
      margin: 0;
      text-decoration: none;
    }
    a:before,
    a:after {
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    a:before {
      bottom: 100%;
      display: block;
      height: 3px;
      width: 100%;
      content: "";
      background-color: #e9e95c;
    }
      a:after {
      padding: 0.3em 0;
      position: absolute;
      bottom: 100%;
      left: 0;
      content: attr(data-hover);
      color: #ffffff;
      white-space: nowrap;
    }
    li:hover a,
    .current a {
      transform: translateY(100%);
    }
  }
}


@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700,300|Josefin+Sans:300);

body {
  background-color:#fff;
  font-family: "Josefin Slab", serif;
  font-size: 100%;
  line-height: 1;
  text-align: center;
}

body:before {
  bottom: 0;
  display: block;
  font-size: 1.4rem;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
}

h1,
h2,
p {
  padding: 0 2rem;
}

h1 {
  color:black;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 2rem auto;
}

h2 {
  color:black;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 auto 3rem;
}

p {
  color:black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 3rem auto;
}
