$breakpoints: (
  "sm": "screen and (min-width: 350px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$line-style: none;
$text-decoration: none;
$margin: 5% 0 0 5%;
$z-index: 1;
$opacity: 75%;

html {
  @include mq("lg") {
    width: 97%;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  height: 3100px;
  @include mq("lg") {
    height: 4100px;
  }
}
img {
  opacity: $opacity;
}
.navphone {
  display: flex;
  list-style: $line-style;
  margin: 3% 0 3% 1%;
  padding: 0;
  text-align: left;
  @include mq("lg") {
    display: none;
  }
  li {
    padding: 0 2%;
  }
  a {
    color: black;
    font-size: 1em;
    font-family: "Avenir Next Condensed", sans-serif;
    text-decoration: $text-decoration;
  }
}
.navweb {
  display: none;
  @include mq("lg") {
    display: inline-flex;
    list-style: $line-style;
    position: fixed;
    margin: 32% 0 0 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
    top: 0%;
  }
  li {
    @include mq("lg") {
      margin: 9% 45% 0 0;
    }
  }
}
a {
  @include mq("lg") {
    color: black;
    font-size: 2.1em;
    font-family: "Avenir Next Condensed", sans-serif;
    text-decoration: $text-decoration;
    display: inline-block;
    color: black;
    transition: all 1s;
  }
  &:hover {
    @include mq("lg") {
      transform: rotateX(360deg);
    }
  }
}
.why {
  @include mq("lg") {
    position: relative;
    z-index: 999;
  }
}

.wakai {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 260;
  letter-spacing: 1%;
  margin: -16% 0 0 8%;
  @include mq("lg") {
    margin: -30% 0 0 17%;
    padding: 0;
    font-size: 6em;
    letter-spacing: 0.15em;
    position: absolute;
    z-index: 55;
  }
}
.singer {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 240;
  letter-spacing: 1%;
  margin: -5% 0 0% 8%;
  @include mq("lg") {
    margin: -23% 0 0 17%;
    padding: 0;
    font-size: 6em;
    letter-spacing: 0.15em;
    position: absolute;
    font-weight: normal;
  }
}
.h3a {
  font-size: 1.7em;
  font-family: "Courier", sans-serif;
  margin: 15% 0 0 8%;
  padding: 0;
  @include mq("lg") {
    font-size: 3.3em;
    font-family: "Courier", sans-serif;
    margin: 0 0 0 17%;
    padding: 0;
  }
}

.photo1 img {
  width: 100%;
  @include mq("lg") {
    clip-path: polygon(0 0, 100% 0, 100% 64%, 0 64%);
    width: 80%;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  &:hover {
    @include mq("lg") {
      -webkit-filter: sepia(40%);
      filter: sepia(40%);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
  }
}

.imgs1 {
  div {
    margin: 10% 0 0 5%;
    display: flex;
    @include mq("lg") {
      display: inline;
      margin: 0% 0 7% 18%;
    }
  }
}
.imgs2 {
  div {
    margin: 10% 0 0 5%;
    display: flex;
    @include mq("lg") {
      display: inline;
      margin: 0% 0 2% 18%;
    }
  }
}

.disco {
  ul {
    position: absolute;
    margin: 0%;
    padding: 0%;
    @include mq("lg") {
      width: 100%;
      position: absolute;
      margin: 0% 0 10% 0;
      padding: 0% 0;
    }
  }
  li {
    display: block;
    font-size: 1em;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    margin: 85% 0% 200% 300%;
    padding: 0;
    @include mq("lg") {
      display: inline;
      font-size: 1em;
      font-family: "Courier", sans-serif;
      font-weight: bold;
      margin: 60% 2% 0% 18%;
      padding: 2% 4%;
    }
  }
}
.disco1 {
  ul {
    position: absolute;
    margin: 0%;
    padding: 0%;
    z-index: 999;
    @include mq("lg") {
      width: 100%;
      position: absolute;
      margin: 0%;
      padding: 0%;
    }
  }
  li {
    position: relative;
    display: block;
    font-size: 1em;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    margin: 140% 0% 270% 350%;
    padding: 0;
    z-index: 999;
    @include mq("lg") {
      display: inline;
      font-size: 1em;
      font-family: "Courier", sans-serif;
      font-weight: bold;
      margin: 50% 7% 0% 22%;
      padding: 0%;
    }
  }
}

.d1 {
  @include mq("lg") {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  img {
    width: 35%;
    margin: 0%;
    padding: 0%;
    z-index: 1;
    @include mq("lg") {
      width: 14%;
      margin: 0% 0 0 0;
      padding: 0.3% 0 5% 0;
    }
  }
}
.d1span {
  position: relative;
  display: block;
  font-size: 1em;
  font-family: "Avenir Next Condensed", sans-serif;
  margin: 130% 0% 270% 190%;
  padding: 3% 11%;
  a {
    text-decoration: underline black 1px;
    color: black;
    @include mq("lg") {
      text-decoration: underline black 2px;
    }
  }
  @include mq("lg") {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 13% 0 0 0;
    left: -10%;
  }
}
.d1:hover .d1span {
  opacity: 0;
  @include mq("lg") {
    left: 30%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

.h3b {
  position: absolute;
  font-size: 1.7em;
  font-family: "Courier", sans-serif;
  margin: 80% 0 0 5%;
  padding: 0;
  color: black;
  @include mq("lg") {
    font-size: 3.3em;
    font-weight: bolder;
    font-family: "Courier", sans-serif;
    margin: 40% 0 0% 22%;
    padding: 0;
    position: absolute;
    z-index: 777;
  }
}

.photo2 {
  p {
    font-size: 1.1em;
    letter-spacing: 0.07em;
    font-family: "Avenir Next Condensed", sans-serif;
    margin: 60% 0% 0 0%;
    padding: 0 5% 0 5%;
    @include mq("lg") {
      z-index: 33;
      position: absolute;
      width: 50%;
      margin: 48% 0 10% 25%;
      padding: 0;
      font-size: 1.5em;
      word-spacing: 0.2em;
    }
  }
}
.bg1 {
  width: 90%;
  margin: 60% 5% 0 5%;
  padding: 0;
  @include mq("lg") {
    position: absolute;
    margin: 10% 13%;
    width: 43%;
    z-index: 2;
  }
}
.bg2 {
  display: none;
  @include mq("lg") {
    display: flex;
    position: absolute;
    margin: 50% 0 0 65%;
    width: 20%;
    z-index: 2;
  }
}
.bg3 {
  display: none;
  @include mq("lg") {
    position: absolute;
    display: flex;
    margin: 70% 0 0 13%;
    width: 21%;
    z-index: 2;
  }
}
.bg4 {
  display: none;
  @include mq("lg") {
    position: absolute;
    display: flex;
    margin: 105% 0 0 50%;
    width: 35%;
    z-index: 2;
  }
}

.h4 {
  margin: 20% 0% 0 0;
  padding: 0 5%;
  a {
    color: black;
    font-size: 1.3em;
    transform: none;
    text-decoration: underline rgb(128, 66, 156) 3px;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    @include mq("lg") {
      text-decoration: underline rgb(128, 66, 156) 4px;
    }
  }
  @include mq("lg") {
    position: relative;
    margin: 165% 0 -15% 15%;
  }
}

.footer {
  font-size: 1.5em;
  font-family: "Avenir Next Condensed", sans-serif;
  margin: 30% 0 0 0;
  padding: 0 5%;
  text-decoration: underline 1px black;
  letter-spacing: 0.1em;
  @include mq("lg") {
    margin: -5% 0% 0% 50%;
    padding: 0;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    text-decoration: underline 3px black;
  }
}
.footer1 {
  list-style: $line-style;
  width: 60%;
  margin: 0;
  padding: 0 5%;
  @include mq("lg") {
    margin: -1% 0% 0% 50%;
    padding: 0%;
    position: absolute;
    z-index: 24;
    width: 50%;
  }
  li {
    @include mq("lg") {
      margin: 0;
      padding: 1% 0;
    }
  }
}
.footer2 {
  text-decoration: underline black;
  color: black;
  font-family: "Avenir Next Condensed", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  @include mq("lg") {
    text-decoration: $text-decoration;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
  }
}
span {
  font-size: 1.7em;
}
.lastpic {
  display: none;
  @include mq("lg") {
    display: flex;
    margin: 0 0 -1% 0;
    padding: 0%;
  }
}
