@media screen and (min-width: 1000px) {
  html {
    width: 97%;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

@media screen and (min-width: 1000px) {
  body {
    height: 4200px;
  }
}

@media screen and (min-width: 1000px) {
  img {
    opacity: 75%;
  }
}

.navphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 3% 0 3% 1%;
  padding: 0;
  text-align: left;
}

@media screen and (min-width: 1000px) {
  .navphone {
    display: none;
  }
}

.navphone li {
  padding: 0 2%;
}

.navphone a {
  color: black;
  font-size: 1em;
  font-family: "Avenir Next Condensed", sans-serif;
  text-decoration: none;
}

.navweb {
  display: none;
}

@media screen and (min-width: 1000px) {
  .navweb {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    position: fixed;
    margin: 32% 0 0 0;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-90deg) translateX(-100%);
            transform: rotate(-90deg) translateX(-100%);
    top: 0%;
  }
}

@media screen and (min-width: 1000px) {
  .navweb li {
    margin: 9% 45% 0 0;
  }
}

@media screen and (min-width: 1000px) {
  a {
    color: black;
    font-size: 2.1em;
    font-family: "Avenir Next Condensed", sans-serif;
    text-decoration: none;
    display: inline-block;
    color: black;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

@media screen and (min-width: 1000px) {
  a:hover {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@media screen and (min-width: 1000px) {
  .why {
    position: relative;
    z-index: 999;
  }
}

.wakai {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 260;
}

@media screen and (min-width: 1000px) {
  .wakai {
    margin: -30% 0 0 17%;
    padding: 0;
    font-size: 6em;
    letter-spacing: 0.15em;
    position: absolute;
    z-index: 55;
  }
}

.singer {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 240;
  margin: -21% 0 10% 0;
}

@media screen and (min-width: 1000px) {
  .singer {
    margin: -23% 0 0 17%;
    padding: 0;
    font-size: 6em;
    letter-spacing: 0.15em;
    position: absolute;
    font-weight: normal;
  }
}

.h3a {
  font-size: 1.7em;
  font-family: "Courier", sans-serif;
  margin: 30% 0 0 5%;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .h3a {
    font-size: 3.3em;
    font-family: "Courier", sans-serif;
    margin: 0 0 0 17%;
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  .photo1 img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0 64%);
            clip-path: polygon(0 0, 100% 0, 100% 64%, 0 64%);
    width: 80%;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
}

@media screen and (min-width: 1000px) {
  .photo1 img:hover {
    -webkit-filter: sepia(40%);
    filter: sepia(40%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

.imgs1 div {
  margin: 5% 0 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1000px) {
  .imgs1 div {
    display: inline;
    margin: 0% 0 7% 18%;
  }
}

.imgs2 div {
  margin: 5% 0 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1000px) {
  .imgs2 div {
    display: inline;
    margin: 0% 0 2% 18%;
  }
}

@media screen and (min-width: 1000px) {
  .disco ul {
    width: 100%;
    margin: 5% 0 0 0;
    padding: 0.7% 0;
  }
}

.disco li {
  display: block;
  font-size: 1em;
  font-family: "Courier", sans-serif;
  font-weight: bold;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .disco li {
    display: inline;
    font-size: 1em;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    margin: 60% 2% 0% 18%;
    padding: 2% 3%;
  }
}

@media screen and (min-width: 1000px) {
  .disco1 ul {
    width: 100%;
  }
}

.disco1 li {
  display: block;
  font-size: 1em;
  font-family: "Courier", sans-serif;
  font-weight: bold;
  margin: -21% 0 30% 20%;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .disco1 li {
    display: inline;
    font-size: 1em;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    margin: 50% 6% 0% 19%;
    padding: 0%;
  }
}

@media screen and (min-width: 1000px) {
  .d1 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 1000px) {
  .d1 img {
    margin: 0;
    padding: 0 0 5% 0;
  }
}

@media screen and (min-width: 1000px) {
  .d1span {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  .d1span {
    left: -10%;
  }
}

@media screen and (min-width: 1000px) {
  .d1:hover .d1span {
    left: 30%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.h3b {
  font-size: 1.7em;
  font-family: "Courier", sans-serif;
  margin: 30% 0 0 5%;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .h3b {
    font-size: 3.3em;
    font-family: "Courier", sans-serif;
    margin: 35% 0 0 17%;
    padding: 0;
    position: absolute;
    z-index: 777;
    color: white;
  }
}

.photo2 {
  margin: 0 2% 2%;
  padding: 5%;
}

.photo2 p {
  font-size: 1.3em;
  letter-spacing: 0.07em;
  font-family: "Avenir Next Condensed", sans-serif;
}

@media screen and (min-width: 1000px) {
  .photo2 p {
    z-index: 33;
    position: absolute;
    width: 50%;
    margin: 40% 0 10% 15%;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1000px) {
  .bg1 {
    position: absolute;
    margin: 10% 7%;
    width: 43%;
    z-index: 2;
  }
}

@media screen and (min-width: 1000px) {
  .bg2 {
    position: absolute;
    margin: 50% 0 0 55%;
    width: 20%;
    z-index: 2;
  }
}

@media screen and (min-width: 1000px) {
  .bg3 {
    position: absolute;
    margin: 70% 0 0 7%;
    width: 21%;
    z-index: 2;
  }
}

@media screen and (min-width: 1000px) {
  .bg4 {
    position: absolute;
    margin: 110% 0 0 45%;
    width: 35%;
    z-index: 2;
  }
}

.h4 {
  font-size: 1.7em;
  font-weight: bolder;
  font-family: "Courier", sans-serif;
  margin: 0 7%;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .h4 {
    position: relative;
    margin: 165% 0 -15% 15%;
    -webkit-text-decoration: underline black 4px;
            text-decoration: underline black 4px;
    font-size: 2.5em;
  }
}

.h4 a {
  -webkit-text-decoration: underline #333fa8 3px;
          text-decoration: underline #333fa8 3px;
  color: black;
}

.footer {
  font-size: 1.3em;
  font-family: "Avenir Next Condensed", sans-serif;
}

@media screen and (min-width: 1000px) {
  .footer {
    margin: -5% 0% 0% 50%;
    padding: 0;
    font-size: 2.5em;
    letter-spacing: 0.2em;
  }
}

.footer1 {
  list-style: none;
  width: 60%;
}

@media screen and (min-width: 1000px) {
  .footer1 {
    margin: -1% 0% 0% 50%;
    padding: 0%;
    position: relative;
    z-index: 24;
  }
}

@media screen and (min-width: 1000px) {
  .footer1 li {
    margin: 0;
    padding: 1% 0;
  }
}

.footer2 a {
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
  color: black;
  font-family: "Avenir Next Condensed", sans-serif;
  font-size: 1em;
}

@media screen and (min-width: 1000px) {
  .footer2 a {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    color: black;
  }
}

span {
  font-size: 1.7em;
}

@media screen and (min-width: 1000px) {
  .lastpic {
    margin: 0 0 -1% 0;
    padding: 0%;
  }
}
/*# sourceMappingURL=web.css.map */