$breakpoints: (
  "sm": "screen and (min-width: 350px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$line-style: none;
$text-decoration: none;
$margin: 5% 0 0 5%;
$z-index: 1;

html {
  @include mq("lg") {
    width: 97%;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  @include mq("lg") {
    height: 4200px;
  }
}
.navphone {
  display: flex;
  list-style: $line-style;
  margin: 3% 0 3% 1%;
  padding: 0;
  text-align: left;
  @include mq("lg") {
    display: none;
  }
  li {
    padding: 0 2%;
  }
  a {
    color: black;
    font-size: 1em;
    font-family: "Avenir Next Condensed", sans-serif;
    text-decoration: $text-decoration;
  }
}
//----------------------------here-----------------------//
.navweb {
  display: none;
  @include mq("lg") {
    display: inline-flex;
    list-style: $line-style;
    position: fixed;
    margin: 32% 0 0 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
    top: 0%;
    z-index: 474;
  }
  li {
    @include mq("lg") {
      margin: 9% 45% 0 0;
    }
  }
}
a {
  @include mq("lg") {
    color: black;
    font-size: 2.1em;
    font-family: "Avenir Next Condensed", sans-serif;
    text-decoration: $text-decoration;
    display: inline-block;
    color: black;
    transition: all 1s;
  }
  &:hover {
    @include mq("lg") {
      transform: rotateX(360deg);
    }
  }
}
//--------------------------------------------------------//

.wakai {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 260;
  @include mq("lg") {
    margin: -30% 0 0 17%;
    padding: 0;
    font-size: 6em;
    letter-spacing: 0.15em;
    position: absolute;
    z-index: 55;
  }
}
.singer {
  font-size: 3em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 240;
  margin: -21% 0 10% 0;
  @include mq("lg") {
    margin: -23% 0 0 17%;
    padding: 0;
    font-size: 6em;
    letter-spacing: 0.15em;
    position: absolute;
    font-weight: normal;
  }
}
.h3a {
  font-size: 1.7em;
  font-family: "Courier", sans-serif;
  margin: 30% 0 0 5%;
  padding: 0;
  @include mq("lg") {
    font-size: 3.3em;
    font-family: "Courier", sans-serif;
    margin: 0 0 0 17%;
    padding: 0;
  }
}

.photo1 img {
  @include mq("lg") {
    clip-path: polygon(0 0, 100% 0, 100% 64%, 0 64%);
    width: 80%;
    padding: 0;
    margin: 0;
  }
  &:hover {
    @include mq("lg") {
      -webkit-filter: sepia(40%);
      filter: sepia(40%);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
  }
}

.imgs1 {
  div {
    margin: $margin;
    display: flex;
    @include mq("lg") {
      display: inline;
      margin: 0% 0 7% 18%;
    }
  }
}
.imgs2 {
  div {
    margin: $margin;
    display: flex;
    @include mq("lg") {
      display: inline;
      margin: 0% 0 2% 18%;
    }
  }
}

.disco {
  ul {
    @include mq("lg") {
      width: 100%;
      margin: 5% 0 0 0;
      padding: 0.7% 0;
    }
  }
  li {
    display: block;
    font-size: 1em;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    padding: 0;
    @include mq("lg") {
      display: inline;
      font-size: 1em;
      font-family: "Courier", sans-serif;
      font-weight: bold;
      margin: 60% 2% 0% 18%;
      padding: 2% 3%;
    }
  }
}
.disco1 {
  ul {
    @include mq("lg") {
      width: 100%;
    }
  }
  li {
    display: block;
    font-size: 1em;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    margin: -21% 0 30% 20%;
    padding: 0;
    @include mq("lg") {
      display: inline;
      font-size: 1em;
      font-family: "Courier", sans-serif;
      font-weight: bold;
      margin: 50% 6% 0% 19%;
      padding: 0%;
    }
  }
}

.d1 {
  @include mq("lg") {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  img {
    @include mq("lg") {
      margin: 0;
      padding: 0 0 5% 0;
    }
  }
}
.d1span {
  @include mq("lg") {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
  }
}
.d1span {
  @include mq("lg") {
    left: -10%;
  }
}
.d1:hover .d1span {
  @include mq("lg") {
    left: 30%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

.h3b {
  font-size: 1.7em;
  font-family: "Courier", sans-serif;
  margin: 30% 0 0 5%;
  padding: 0;
  @include mq("lg") {
    font-size: 3.3em;
    font-family: "Courier", sans-serif;
    margin: 35% 0 0 17%;
    padding: 0;
    position: absolute;
    z-index: 777;
    color: white;
  }
}

.photo2 {
  margin: 0 2% 2%;
  padding: 5%;
  p {
    font-size: 1.3em;
    letter-spacing: 0.07em;
    font-family: "Avenir Next Condensed", sans-serif;
    @include mq("lg") {
      z-index: 33;
      position: absolute;
      width: 50%;
      margin: 40% 0 10% 10%;
    }
  }
}
.bg1 {
  @include mq("lg") {
    position: absolute;
    margin: 10% 7%;
    width: 43%;
    z-index: 2;
  }
}
.bg2 {
  @include mq("lg") {
    position: absolute;
    margin: 50% 0 0 55%;
    width: 20%;
    z-index: 2;
  }
}
.bg3 {
  @include mq("lg") {
    position: absolute;
    margin: 70% 0 0 7%;
    width: 21%;
    z-index: 2;
  }
}
.bg4 {
  @include mq("lg") {
    position: absolute;
    margin: 110% 0 0 45%;
    width: 35%;
    z-index: 2;
  }
}

.h4 {
  font-size: 1.7em;
  font-weight: bolder;
  font-family: "Courier", sans-serif;
  margin: 0 7%;
  padding: 0;
  @include mq("lg") {
    position: relative;
    margin: 135% 0 0% 15%;
    text-decoration: underline black 4px;
    font-size: 2.5em;
  }
  a {
    text-decoration: underline rgb(51, 63, 168) 3px;
    color: black;
  }
}

footer {
  margin: 15% 0 0 7%;
  padding: 0;
  @include mq("lg") {
    margin: 15% 0 0 55%;
    padding: 0%;
    position: relative;
    width: 25%;
  }
  p {
    font-size: 1.3em;
    font-family: "Avenir Next Condensed", sans-serif;
    @include mq("lg") {
      margin: -200% 0% 0% -10%;
      padding: 0;
      font-size: 1.9em;
    }
  }
  ul {
    list-style: $line-style;
    width: 60%;
    @include mq("lg") {
      margin: 20% 0% 0% -10%;
      padding: 0%;
      position: relative;
      z-index: 24;
    }
  }
  a {
    text-decoration: underline black;
    color: black;
    font-family: "Avenir Next Condensed", sans-serif;
    font-size: 1em;
    @include mq("lg") {
      font-size: 1.8em;
      margin: 0;
      padding: 2% 0;
      color: rgb(0, 0, 0);
    }
  }
}
span {
  font-size: 1.7em;
}
.lastpic {
  @include mq("lg") {
    opacity: 75%;
  }
}
// .fadein{
//   opacity: 0;
//   transform: translate(0.80px);
//   transition: all 1.5s;
// }
// .fadein.scrollin{
//   opacity: 1;
//   transform: translate(0,0);
// }
